*.elc
*.gnupg
.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
/.org-id-locations
/.python-environments/
/README.el
/ac-comphist.dat
/auto-save-list/
/bookmarks
/cache/
/elisp-objects/
/elpa/*.signed
/elpa/*.txt
/elpa/archives
/elpa/gnupg/*
/email-settings.el
/eshell/history
/eshell/lastdir
/games/
/history
/image-dired
/network-security.data
/nov-places
/places
/projectile-bookmarks.eld
/projectile.cache
/recentf
/session.*
/smex-items
/tramp
/transient
/url
/screenshots/
/package-quickstart.el
/amx-items
